@tailwind base;
@tailwind components;
@tailwind utilities;

.bondaflogo {
    width: 14vw;
    height: 8vw;
  }

  .aboutParaService1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }